/*  your css code here. If applicable */
 .grid-container{
	 display:grid;
	 
/* 	justify-content:center; */
	grid-template-columns:repeat(auto-fill, minmax(200px,1fr));
	 grid-auto-flow:dense;
	 
/* 	align-items:center; */
	 height:100vh;
 }
.grid-item{
	display:flex;
	height:150px;
	width:200px;
	border-radius:5px;
	font-size:40px;
	background-color:lightgray;
/*     justify-content:center; */
/* 	align-items:center; */









	
}
